<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ArteVidaDbContexto" connectionString="Data Source=vega12;Initial Catalog=ArteVidaDb;Persist Security Info=True;User ID=sa;Password=Gold@2014"
            providerName="System.Data.SqlClient" />
        <add name="ArteVidaReport" connectionString="Data Source=vega12;Initial Catalog=ArteVidaDb;Persist Security Info=True;User ID=sa;Password=Gold@2014"
            providerName="System.Data.SqlClient" />
        <add name="ArteVida.Relatorios.Properties.Settings.ArteVidaDb"
            connectionString="Data Source=VEGA05;Initial Catalog=ArteVidaDb;Persist Security Info=True;User ID=sa;Password=Gold@2015"
            providerName="System.Data.EntityClient" />
        <add name="ArteVida.Relatorios.Properties.Settings.ArteVidaDbContexto"
            connectionString="Data Source=VEGA05;Initial Catalog=ArteVidaDb;Persist Security Info=True;User ID=sa;Password=Gold@2015"
            providerName="System.Data.EntityClient" />
        <add name="ArteVida.Relatorios.Properties.Settings.ArteVidaDBAzure"
            connectionString="Data Source=tcp:rdba8zsgxp.database.windows.net,1433;Initial Catalog=ArteVidaDB;User ID=vegasoft@rdba8zsgxp;Password=Gold@2015"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>