<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
    </configSections>
    <connectionStrings>
      <add name="ArteVidaDbContexto"
          connectionString="Data Source=VEGA05;Initial Catalog=ArteVidaDb;Persist Security Info=True;User ID=sa;Password=Gold@2015"
          providerName="System.Data.SqlClient" />   
    </connectionStrings>
</configuration>