<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://artevida.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>artevida.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>artevida</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$artevida</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:rdba8zsgxp.database.windows.net,1433;Initial Catalog=ArteVidaDB;User ID=vegasoft@rdba8zsgxp;Password=Gold@2015" Name="Data Source=tcp:rdba8zsgxp.database.windows.net,1433;Initial Catalog=ArteVidaDB;User Id=vegasoft@rdba8zsgxp;Password=Gold@2015" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ArteVida.GestorWeb.Models.ApplicationDbContext, ArteVida.GestorWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ArteVidaDbContexto" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:rdba8zsgxp.database.windows.net,1433;Initial Catalog=ArteVidaDB;User ID=vegasoft@rdba8zsgxp;Password=Gold@2015" Name="Data Source=tcp:rdba8zsgxp.database.windows.net,1433;Initial Catalog=ArteVidaDB;User Id=vegasoft@rdba8zsgxp;Password=Gold@2015" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ArteVida.Dominio.Contexto.DbContexto, ArteVida.Dominio" MigrationConfiguration="ArteVida.Dominio.Migrations.Configuration, ArteVida.Dominio" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ArteVidaReport" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:rdba8zsgxp.database.windows.net,1433;Initial Catalog=ArteVidaDB;User ID=vegasoft@rdba8zsgxp;Password=Gold@2015" Name="Data Source=tcp:rdba8zsgxp.database.windows.net,1433;Initial Catalog=ArteVidaDB;User Id=vegasoft@rdba8zsgxp;Password=Gold@2015" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=vega12;Initial Catalog=ArteVidaDb;Persist Security Info=True;User ID=sa;Password=Gold@2014" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ArteVidaReport_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=vega12;Initial Catalog=ArteVidaDb;Persist Security Info=True;User ID=sa;Password=Gold@2014" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ArteVidaDbContexto-Web.config Connection String">
      <ParameterValue>Data Source=tcp:rdba8zsgxp.database.windows.net,1433;Initial Catalog=ArteVidaDB;User Id=vegasoft@rdba8zsgxp;Password=Gold@2015</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ArteVidaReport-Web.config Connection String">
      <ParameterValue>Data Source=tcp:rdba8zsgxp.database.windows.net,1433;Initial Catalog=ArteVidaDB;User Id=vegasoft@rdba8zsgxp;Password=Gold@2015</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:rdba8zsgxp.database.windows.net,1433;Initial Catalog=ArteVidaDB;User Id=vegasoft@rdba8zsgxp;Password=Gold@2015</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>