.artevida {
  padding: 30px;
  margin-bottom: 1px;
  font-size: 20px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #eeeeee;
}

.artevida h1 {
  line-height: 1;
  color: inherit;
}

.artevida p {
  line-height: 1.4;
}

.container .artevida {

  border-radius: 6px;
}

.consulta {
    
    
}

@media screen and (max-width: 768px) {
  /*.artevida {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .artevida {
    padding-right: 60px;
    padding-left: 60px;
  }
  .artevida h1 {
    font-size: 63px;
  }*/


}




nav  {
    display: block;
    font-size: 12px; /*Tamanho da fonte do menu*/
    padding-top: 5px; /*deslocamento da barra de menu*/
    margin-right: 15px; /*Margem direita da barra de menu*/
   

}

footer {
    clear: both;
    background-color: #e2e2e2; /*Cor da barra do rodapé*/
    font-size: .8em; /*Tamanho da fonte do rodapé*/
    height: 20px; /*Altura do rodapé*/
}

.container 
{
    margin-top: 5px; /*Margem do Menu*/
}
.body-content {
    margin-top: 1px; /*Margem do Body Principal*/
    
}
.footer-content {   
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;   
}
.float-left {
    float: left;
}

.float-right {
    float: right;
}


 .telaCadastro
 {  
      position: relative;
     display: block;
     padding: 5px;
     margin-left: 5px;
 }




