* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.painel-interno {
  width: 835px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.kurtlewin {
  padding: 30px;
  margin-bottom: 1px;
  font-size: 20px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #eeeeee;
}

.kurtlewin h1 {
  line-height: 1;
  color: inherit;
}

.kurtlewin p {
  line-height: 1.4;
}

.container .kurtlewin {

  border-radius: 6px;
}

.consulta {
    
    
}

@media screen and (max-width: 768px) {
  /*.kurtlewin {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .kurtlewin {
    padding-right: 60px;
    padding-left: 60px;
  }
  .kurtlewin h1 {
    font-size: 63px;
  }*/


}




nav  {
    display: block;
    font-size: 12px; /*Tamanho da fonte do menu*/
    padding-top: 1px; /*deslocamento da barra de menu*/
    margin-right: 1px; /*Margem direita da barra de menu*/
    
}

footer {
    clear: both;
    background-color: #e2e2e2; /*Cor da barra do rodapé*/
    font-size: .8em; /*Tamanho da fonte do rodapé*/
    height: 20px; /*Altura do rodapé*/
}

.container 
{
    margin-top: 5px; /*Margem do Menu*/
}
.body-content {
    margin-top: 60px; /*Margem do Body Principal*/
    margin-bottom: 1px; /*Margem do Body Principal*/
    
}

.footer-content {   
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;   
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}


 .telaCadastro
 {  
     position:relative;
     padding-top: -60%;
     /*left: 50%;*/
     width: 730px;
     display: block;
     padding: 5px;
     margin-left: 5px;
 }

 .telaConsulta
 {  
     position: relative; 
     padding-top: -60%;   
     width: 980px;     
     display: block;
     padding: 5px;
     margin-left: 5px;
 }

  .telaRelatorio
 {  
     position: relative;
     width: 980px;
     display: block;
     padding: 5px;
     margin-left: 5px;
 }




