@model ArteVida.GestorWeb.ViewModels.JanelaViewModel

<div >
    @{Html.Kendo().Window()

        .Name("telaConsulta")
        .Title(@Model.Titulo)

        .Content(@<text>
            @Html.Partial(@Model.Tela)
        </text>)


        .Modal(true)
        .Height(530)
        .Width(1100)
        .Render();
    }
</div>


<script>
    function PegaID() {
        return { id: $("#ID").val() };
    }



    function AtualizaGridIrmaos() {
        $("#GridIrmaos").data('kendoGrid').dataSource.read();
        $("#GridIrmaos").data('kendoGrid').refresh();
    }


    function FechadoTelaAtleta(e) {
        var grid = $('#GridAtleta').data("kendoGrid");
        grid.refresh();
    }






</script>