@model ArteVida.GestorWeb.ViewModels.InstrutorViewModel

<div class="col-md-11">
    @(Html.Kendo().TabStrip()
            .Name("tabstrip")
            .Events(events => events.Select("AtualizaGridAtletaIrmaos"))
            .Items(tabstrip =>
            {
                tabstrip.Add().Text("Instrutores")
                    .Selected(true)
                    .Content(@Html.Partial("_DadosInstrutores").ToHtmlString());

              

            })
    )

</div>

