@model ArteVida.GestorWeb.ViewModels.AtletaViewModel

<div class="col-md-11">
    @(Html.Kendo().TabStrip()
            .Name("tabstrip")
            .Events(events => events.Select("AtualizaGridAtletaIrmaos"))
            .Items(tabstrip =>
            {
                tabstrip.Add().Text("Atleta")
                    .Selected(true)
                    .Content(@Html.Partial("_DadosAtleta").ToHtmlString());

                tabstrip.Add().Text(" Irmãos")
                    .Selected(false)
                    .Content(@Html.Partial("_DadosIrmoes").ToHtmlString());

            })
    )

</div>



