@Html.TextBox("", ViewData.TemplateInfo.FormattedModelValue.ToString(), new { type = "file" })

@*<div>
    @Html.LabelFor(m => m.ImageUpload)
    @Html.TextBoxFor(m => m.ImageUpload, new { type = "file" })
</div>*@
